/*
=========================================
Reset
=========================================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
=========================================
Custom Styles
=========================================
*/

body{
	font: 200 16px/21px "Raleway", Arial, sans-serif;/*Get rid of this later*/
}

/*Color Themes

/*
Coral: #E14658;
Navy: #22252c;
Mountain: #3f3250;
Scrub: #C0B3A0;
*/
/*
==============================
Grid
===========================
*/

*,
*:before,
*:after {
	  -webkit-box-sizing: border-box;
   		 -moz-box-sizing: border-box;
        	  box-sizing: border-box;
}
.container{
	margin: 0 auto;
}
.container {	
	padding-left: 15px;
	padding-right: 15px;
}
.col-1-3, 
.col-2-3,
.col-1-2{
	display: inline-block;
	vertical-align: top;
}
.col-1-3 {
	width: 33.33%;
}
.col-2-3 {
	width: 66.66%;
}
.col-1-2{
	width: 50%;
}

/*
==============================
Typography
==============================
*/

h1, h3, h4, h5, p {
	/*margin-bottom: 22px*/
}
h1, h2, h3, h4{
	/*color: #333;*/
}
h1{
	font-size: 36px;
	line-height: 44px;
	font-weight: 700;
}
h2{
	font-size: 24px;
	line-height: 44px;
	font-weight: 700;
}
h3{
	font-size: 21px;
}
h4{
	font-size: 18px;
}
h5 {
  /*color: #333;*/
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

/*
==============================
Header
==============================
*/
.hero-row{
	background-image: url("../images/landing-images/patrick-pilz-144200.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 20%;
	height: 600px;
}
header .row{
	padding-top: 200px;
	border: 1px solid black;
}
.logo,
.primary-nav{
	line-height: 48px;
	text-transform: uppercase;
}
h1.logo{
	font-size: 36px;
	font-weight: 200;
	padding-top: 10px;
	padding-bottom: 10px;
}
.primary-nav{
	text-align: right;
}
.primary-nav ul li{
	line-height: 21px;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	font-weight: 400;
}
.logo{
	text-align: center;
	text-transform: uppercase;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 375px;
}
.thick{
	font-weight: 700;
}
#landing-header{
	margin-top: 100px;
}

/*Gotham SSm A,Gotham SSm B,sans-serif; - Header Font
14px
300 weight
line height, 21px, left, right 16px padding

/*
==============================
Row
==============================
*/

.row{
	width: 100%;
	padding: 22px 0 22px 0;
	position: relative;
}

/*
==============================
Navigation
===========================
*/
.nav li{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
/*
==============================
Links
==============================
*/

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #00adef;
}
p a {
	border-bottom: 1px solid #C0B3A0;
}
.primary-header a,
.primary-footer a {
	color: #C0B3A0
}
.primary-header a:hover,
.primary-footer a:hover {
	color: #E14658;
}
/*
==============================
Home
==============================
*/
.hero-row{
  /*background: #474646; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(50deg, #474646, #222); /* Safari 5.1-6.0 */
  /*background: -o-linear-gradient(50deg, #474646, #222); /* For Opera 11.6-12.0 */
  /*background: -moz-radial-gradient(50deg, #474646, #222); /* For Firefox 3.6-15 */
  /*background: linear-gradient(50deg, #474646, #222); /* Standard syntax */
}

.hero{
	padding: 22px 80px 66px 80px;
	text-align: center;
}

.hero p{
	font-size: 18px;
	color: #fff;
}
.teaser
{
	text-align: center;
	margin: 0 10px 0 10px;
}
#projects{
	background-image: url("../images/landing-images/aj-yorio-153975.jpg");
	background-position: 50% 20%;
	background-size: 100%;
	background-repeat: no-repeat;
}
.teaser-row{
	background-color: grey;
	height: 200px;
	text-align: center;
}
.teaser-row h2{
	font-weight: 200;
	font-size: 48px;
	color: #fff;
	text-transform: uppercase;
}

/*
==============================
Images & Overlaid Text
==============================
*/


.img-container{
	overflow:hidden;
	height: 500px;
	padding: 0;
}

.img-container h1,
.img-container h2,
.img-container h3,
.img-container h4{
	position: absolute;
	text-align: center;
}

.img-container h1{
	width: 100%;
	font-size: 72px;
	top: 150px;
}

.img-container h2{
	width: 100%;
	font-size: 54px;
	top: 230px;
}
.img-container h3{
	width: 100%;
	top: 310px;
}
.img-container h4{
	color: #fff;
	top: 420px;
	width: inherit;
}
img{
	width: 100%;
	border-top: 4px solid #3f3250;
	position: relative;
}
.dark-text{
	color: #3f3250;
}
.white-text h1,
.white-text h2{
	color: #fff;
}
#test{
	border: 1px solid red;
}
/*
==============================
Footer
==============================
*/

footer{
	padding-top: 25px;
	padding-bottom: 50px;
	background-color: #0d122b;
	margin-bottom: 0;
}
small{
	font-size: 14px;
	text-align: left;
	margin-left: -20px;
	line-height: 28px;
	color: #9fa2b4;
}
.nav-bottom{
	text-align: right;
	margin-right: -20px;
	font-size: 14px;
	line-height: 28px;
}
footer li a{
  color: #9fa2b4;
  text-decoration: none;
}
footer li a:hover{
  color: #fff
}
/*
==============================
Unique Image Positioning
==============================
*/
#carson-falls{
	bottom: 50px;
}
#may-lake{
	bottom: 400px;
}
/*
